</section>
</div>
</main>
<%- modal %>
<script src="js/oily.min.js"></script>
<script src="components/oily-components.js"></script>
<script>
    <% if(typeof data === "object") { %>
        riot.mount("*",<%- JSON.stringify(data)  %>);
    <% } %>
</script>
</body>
</html>