<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="style/skeleton/css/normalize.css"/>
    <link type="text/css" rel="stylesheet" href="style/skeleton/css/skeleton.css"/>
    <link type="text/css" rel="stylesheet" href="style/oily.min.css"/>

</head>
<body>
<header>
        <ul>
                <li>Oily</li>
                <li></li>
                <li></li>
                <li></li>
        </ul>    
</header>
<content>