<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link type="text/css" rel="stylesheet" href="/style/skeleton/css/normalize.css"/>
    <link type="text/css" rel="stylesheet" href="/style/skeleton/css/skeleton.css"/>
    <link type="text/css" rel="stylesheet" href="/style/oily.min.css"/>
</head>
<body>
<!-- Begin: Social Media  -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=221545311221026&autoLogAppEvents=1"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<!-- End: Social Media  -->
<!-- Begin: Header  -->
<header class="header">
        <div class="row">
                <div class="two columns logo-spacer"> &nbsp;</div>
                <div class="ten columns">
                        <h1>Oilchemist</h1>
                </div>  
        </div>
</header>
<!-- End: Header  -->
<!-- Begin: Content  -->
<main class="main">
<div class="row">
<%- navigation %>
<section class="nine columns content">