<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link type="text/css" rel="stylesheet" href="style/skeleton/css/normalize.css"/>
    <link type="text/css" rel="stylesheet" href="style/skeleton/css/skeleton.css"/>
    <link type="text/css" rel="stylesheet" href="style/oily.min.css"/>
</head>
<body>
<header>
        <div class="row">
                <div class="two columns logo-spacer"> &nbsp;</div>
                <div class="ten columns">
                        <h1>Oilchemist</h1>
                </div>  
        </div>
</header>
<main>
<div class="row">
<%- include('./navbar'); -%>
<section class="ten columns content">