<%- include('../partials/header'); -%>
<div class="row">
    <form id="search-index">
        <div class="eight columns search-input-column">
            <input class="u-full-width" type="text" placeholder="<%= search.placeholder %>" id="lookup">
        </div>
        <div class="two columns search-button-column">
            <button class="button search  button-secondary ">Search</button>
        </div>
        <div class="one columns search-filter-column">
            <button class="button search icon-filter"> </button>
        </div>
    </form>
</div> 
<div class="row">
    <div class="twelve columns results">
            <div class="card">
                <img src="https://images-na.ssl-images-amazon.com/images/I/41u9YGyo4OL.jpg" alt="Avatar" >
                <div class="container">
                    <h5><b>Cold Remedy</b></h5> 
                    <p>Architect & Engineer</p> 
                </div>
            </div>
            <div class="card">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/41u9YGyo4OL.jpg" alt="Avatar" >
                    <div class="container">
                        <h5><b>Soothing</b></h5> 
                        <p>Architect & Engineer</p> 
                    </div>
                </div>
                <div class="card">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/41u9YGyo4OL.jpg" alt="Avatar" >
                        <div class="container">
                            <h5><b>Relax</b></h5> 
                            <p>Architect & Engineer</p> 
                        </div>
                    </div>
    </div>
</div>
<%- include('../partials/footer'); -%>
