// Buttons
.button-secondary{
    background-color:@black;
    color:@white;
    &:active,
    &:hover,
    &:focus{
        color:@white;
    }
}
section.content{
    button,
    select,
    input[type='text']{
        .common-shadow(1px);
        &:focus,
        &:hover,
        &:active{
            .common-shadow(4px);
        }
        .common-border(@super-light-gray)
    }
    .card {
        max-width:220px;

        .common-shadow(1px);
        // flex-shrink:1;
        padding:10px;
        margin:5px;
        .common-border( @light-gray);
        .common-border-radius;
        &:hover {
            .common-shadow(12px);
        }
        .container p{
            max-height:100px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        oil-rating div.rating-container{
            list-style: none;
            width: 80%;
            margin: 0 auto;
            ul,div{
                display:inline-block;
                font-size: 1.55rem;
            }
            
            .review-count{
                float:right;
                font-weight: bold;
            }
        }
        img{
            width:auto;
            max-height:100px;
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        ul.stars{
            list-style:none;
            li{
                display:inline;
            }
            &.enabled{
                cursor:pointer;
            }
        }
    }
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: block;
        width: 60px;
        height: 36px;
        margin-bottom: 1rem;
        border-radius: 5px;
        .common-shadow(1px);

    }
    
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: @light-gray;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 2.5px;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 28px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: @white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 2.5px;

    }
    
    input:checked + .slider {
        background-color: @black;
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px @black;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
  
      
}
