a{
    color:@black;
    text-decoration: none;
    &:active,
    &:hover,
    &:focus{
        color:@black;
        text-decoration: none;
    }
}
// Buttons
.button-secondary{
    background-color:@black;
    color:@white;
    &:active,
    &:hover,
    &:focus{
        color:@white;
    }
}
section.content{
    button,
    select,
    input[type='text']{
        .common-shadow(1px);
        &:focus,
        &:hover,
        &:active{
            .common-shadow(4px);
        }
        .common-border(@super-light-gray)
    }
}