// Buttons
.button-secondary{
    background-color:@black;
    color:@white;
    &:active,
    &:hover,
    &:focus{
        color:@white;
    }
}
section.content{
    button,
    select,
    input[type='text']{
        .common-shadow(1px);
        &:focus,
        &:hover,
        &:active{
            .common-shadow(4px);
        }
        .common-border(@super-light-gray)
    }
    .card {
        .common-shadow(1px);
        // flex-shrink:1;
        padding:10px;
        margin:5px;
        .common-border( @light-gray);
        .common-border-radius;
        &:hover {
            .common-shadow(12px);
        }
        img{
            width:auto;
            max-height:100px;
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
      }
      
}
