<%- include('../../partials/header'); -%>
<form method="POST" action="/admin/signin" class="crud">
    <label for="email">Email</label>
    <input type="text" name="email" value="" id="email"/>
    <label for="password">Password</label>
    <input type="password" name="password" value="" id="password"/>
    <button type="submit">Log In</button>
</form>
<%- include('../../partials/footer'); -%>
