.oil-blend-detail {
    display: flex;

    .oil-summary {
        display: flex;

        .oil-summary-picture,
        .oil-summary-description {
            flex-shrink: 1;
            flex-basis: 50%;
        }
    }

}